<section>

  <header class="page-header">
    <h1>About us</h1>
  </header>
  <div class="panel panel-default">
    <div class="panel-body">
        <p>Since 1992, Jungle is just as the name implies; a mixture of all kind of items. We are right in the heart of Toronto. To make Jungle stand out, we try sourcing out unique and quirky items that is hard to find around the city. </p>

        <p> Our main priority is being that old friend you seek when you’re trying to find THE gift and other items.</p>
 
        <p> “Selling” celebration means more to us than just strictly business. We want to be part of that memory when you are capturing that moment of your lifetime for the appreciation of yourself or your loved ones. </p>
   
        <p>We've got big plans for the future, so be sure to follow us on Instagram, Facebook  & subscribe to our newsletter to stay updated about store events and promotions!</p>
 
    </div>
  </div>
</section>
