// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

// Bootstrap adjustments
.navbar-nav .signed_in {
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
}